<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5Iv07z6vWZZINmRib-eUyNF921t2RgWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>184992033712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.flutterexplained.webrtc</string>
	<key>PROJECT_ID</key>
	<string>testwebrtc-41ea6</string>
	<key>STORAGE_BUCKET</key>
	<string>testwebrtc-41ea6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184992033712:ios:bf0201c13c32b7bb848475</string>
</dict>
</plist>